<div id="comments">
    <% @comments.each do |comment| %>
        <h3><%= comment.body %></h3>
        <p>
            post:
            <%= comment.post.title %></br>
            <%= link_to "Show post", comment.post %>
        </p>
        <hr />
    <% end %>
</div>
